Options -MultiViews
RewriteEngine On

# 1. index.html を省略する設定
DirectoryIndex index.html

# 2. .htmlの拡張子を非表示にする設定
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L]

# 3. .html付きのURLを.htmlなしのURLへ転送する設定
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*\.html\ HTTP/
RewriteRule ^(.*)\.html$ /$1 [R=301,L]